<div class="section">
  <div class="unit-block">
    <div class="lefty">
      <div class="sub_category-wrapper">
        <h4 class="category_subcategory_attr"><%= @work.subcategory.category.name%> &gt; <%= @work.subcategory.name %></h4>
      </div>
      <img src="<%= @work.image_url %>" height="258" alt="<%= @work.name %>" class="image">
    </div>
    <div class="righty">
      <div class="righty_upper">
        <h3 class="name_attr"><%= @work.name %></h3>
        <h5 class="details_attr"><a class="click_for_details" href="<%= @work.link_url%>" target="_blank">Details link</a></h5>
      </div>

      <div class="form-block w-form">
        <form action ="/user/post" method="POST" class="form">
          <input id="hidden" type="hidden" name="work_id" value="<%=@work.id%>">
          <label for="comments" class="commentry_title">comments</label>
          <textarea name="comments" maxlength="5000" id="comments" class="textarea w-input"></textarea>
          <div class="form_submit_button_block">
            <input type="submit" value="Submit" data-wait="Please wait..." class="comment_submit w-button">
            <label class="w-checkbox favorites_checkbox">
              <input type="checkbox" id="checkbox" name="add_to_favorites?" data-name="Checkbox" class="w-checkbox-input">
              <span class="checkbox-label w-form-label">Add To Favorites</span>
            </label>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
